= form_for @prototype do |prototype_form|
  - if @prototype.errors.any?
    #error_explanation
      %h2 #{@prototype.errors.count} 件のエラーが出ています
      %ul
        - @prototype.errors.full_messages.each do |message|
          %li
            = message
  .container.proto-new{action: ""}
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = prototype_form.text_field :title, placeholder: "Title", autofocus: true
      .row
        .col-md-12
          .cover-image-upload{:style => "background-image: url(#{@prototype.main.image});"}
            = prototype_form.fields_for :images, @prototype.main do |image_form|
              = image_form.file_field :image
              = image_form.hidden_field :roll, value:"main"
        .col-md-12
          - @prototype.sub.each do |sub|
            %ul.proto-sub-list.list-group
              %li.list-group-item.col-md-4
                .image-upload{:style => "background-image: url(#{sub.image});"}
                  = prototype_form.fields_for :images, sub do |image_form|
                    = image_form.file_field :image
                    = image_form.hidden_field :roll, value:"sub"
      .row.proto-descri150n
        .col-md-12
          = prototype_form.text_field :catchcopy, placeholder: "Catch Copy", autofocus: true
        .col-md-12
          = prototype_form.text_area :concept, size: "4x4", placeholder: "Concept", autofocus: true
        .col-md-12
          %h4 Tag List
          - @prototype.tags.each do |tag|
            .row#prototype-tags
              .col-md-3
                = text_field_tag "prototype[tag][]", "", placeholder: "Web Design", value: tag
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Publish
