.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to user_path(@user) do
          %img.media-object
            = image_tag(@user.avatar, style: "width: 64px; height: 64px;", class: "media-object")
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            29
            %i Projects
        .proto-user
          %span.degree
            = @user.username
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.works
.container.proto-list
  .row
    = render partial: "prototypes/prototype", collection: @prototypes
