.container
  .form-signin
    %h2.form-signin-heading Please sign in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, placeholder: "Email address", autofocus: true, id: "inputEmail", class: "form-control"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", id: "inputPassword", class: "form-control"
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me
            Remember me
        .actions
          = f.submit 'SIGN IN', class: 'btn btn-lg btn-primary btn-block'
    .text-center
      %p
        Not a member?
        %a{href: "/users/sign_up"} Sign up now
